<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category -->
   <extension
         point="org.knime.workbench.repository.categories">
         
      <category
            description=""
            icon="icons/wtsi.png"
            level-id="wtsixray"
            name="WTSI Mouse X-Ray Analysis"
            path="/"/>
            
   </extension>
   
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/wtsixray/"
            factory-class="uk.ac.sanger.mig.aligner.AlignerNodeFactory"
            id="uk.ac.sanger.mig.aligner.AlignerNodeFactory"/>
   </extension>
   
</plugin>
