<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/wtsixray/"
            factory-class="uk.ac.sanger.mig.regioncropper.RegionCropperNodeFactory"
            id="uk.ac.sanger.mig.regioncropper.RegionCropperNodeFactory"/>
   </extension>
   
</plugin>
